.idea/*
.nyc_output
build
node_modules
test
src/**.js
coverage
*.log
package-lock.json

# Yarn v3 (non zero-installs)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
